<ion-header>
  <ion-toolbar>
    <ion-title>
  
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div style="height: 20vh" >
  <img src="/assets/ufahari-logo.png">
  <ion-button class="bg-white ion-text-center"  shape="round" (click)="openTab2()" expand ="full">Want to hire </ion-button>
  </div>
  <div style="height: 30vh;">
    <img src="/assets/splash.jpg">
   
  </div>
</ion-content>
