
ion-content {
    --background:#FF980f;;
     position: relative;
     height: 100%;
     width: 100%;
 
     ion-button {
         margin-top: 1em;
         margin-bottom: 1em
     }
 }
 
 ion-toolbar {
     --background: transparent;
 }
 
 ion-chip {
     --background: #9dc912;
     --color: #fff;
 }
 
 .card {
     margin: 0 auto;
 
     .header {
         height: 180px; // 20vh;
 
         .avatar {
             width: 160px; //40vw
             height: 160px;
             position: relative;
             margin: 0 auto;
 
             img {
                 display: inherit;
                 border-radius: 50%;
                 position: absolute;
                 bottom: calc(-1*(80px + 4px)); // -42px;
                 border: 4px solid #9Dc912;
                 background-color: #fff;
             }
         }
     }
 }
 
 .card-body {
     background-color: #ffffff;
     padding: 30px;
     height: calc(100vh - (200px + 56px));
     overflow: hidden;
 
     .user-meta {
         padding-top: 40px;
 
     
     }
 
 }
 label {
     /* Other styling... */
     text-align: right;
     clear: both;
     float:left;
     margin-right:15px;
 }