
<ion-header translucent no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="light">
        <ion-icon slot="start" name="ios-arrow-back"></ion-icon>
        Edit Profile
      </ion-button>
    </ion-buttons>
    <ion-title>&nbsp;</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" src="/assets/lady.jpeg"></ion-icon>
       </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed" >
    <div class="card">
      <div class="header">
        <div class="avatar">
          <img src="{{image_suffix}}" (click)= "selectImage()" >
        </div>
      </div>


      
      <div class="card-body">
        <div class="user-meta ">
         
          <div>
          <div class="form-group" >
  
            <label for="name">Name:</label>
            <input type="text" class="name"  [(ngModel)] ="update_profile.first_name" value="{{update_profile.first_name}}  {{update_profile.last_name}}">
              </div>
            <div class="form-group">
            <label for="name">Email:</label>
            <input type="text" [(ngModel)]="update_profile.email" value="{{update_profile.email}}">
            </div>
            <div class="form-group"
            >
            <label for="name">Phone:</label>
            <input type="text" [(ngModel)]="update_profile.phone" disabled value="{{update_profile.phone}}">
          </div>
          <div class="form-group" >
          <label for="bio">Bio</label>
          <input type="text"  [(ngModel)] ="update_profile.bio" value="{{update_profile.bio}}">
        </div>
        <div text-center>
          <ion-button style="margin-top: 30px;" (click)="updateUser()">Update profile</ion-button>
        </div>
      </div>
      
        </div>
    </div>
    </div>

    
</ion-content>

