<ion-header>
</ion-header>
<ion-content padding>
  <!-- <ion-card>
  <ion-row>
    <ion-col size="5">
      <img src="/assets/lady.jpeg">
    </ion-col>
    <ion-col  size="8" *ngFor ="let item of professionals">
      <ion-row><ul>name</ul> </ion-row>
      <ion-row style="margin-top: -20px;"><ul>Baringo County  </ul> </ion-row>
      <ion-row style="margin-top: -20px;"><ul >Gardener  </ul> </ion-row>
    </ion-col>
  </ion-row>
</ion-card>
*ngIf="item.Poster != 'N/A'"
*ngFor="let item of (results | async)" [routerLink]="['/', 'movies', item.imdbID]"
-->
<ion-list>
  <div *ngFor="let item of professionalist">
  <ion-item button >
    <ion-avatar slot="start" >
      <img  style="width: 80px; height: 80px;" src="/assets/person_reading.jpeg" alt="" >
    </ion-avatar>
    <ion-label text-match>
      <h3>{{item.first_name}}</h3>
      <h3> {{item.dob}}</h3>
     <h3>{{item.last_name}}</h3>
    </ion-label>
    <!--   <ion-icon slot="end" *ngIf="item.Type == 'movie'" name="videocam"></ion-icon>
    <ion-icon slot="end" *ngIf="item.Type == 'series'" name="tv"></ion-icon> -->

   </ion-item>
</div>
</ion-list>
</ion-content>


