.img-background{
    background-image: url("/assets/lady.jpeg");
    background-size: cover;
    opacity: 0.6;

    ion-item{
        --background: transparent;
    }
}
.footer{

        margin-bottom: 0px;
    
}