<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="img-background">
<form>
  <ion-item>
    <ion-label position="floating" style="margin-top: 30px;">Phone No:</ion-label>
    <ion-input name="phone" type="tel" minlength="10" maxlength="10" placeholder="Phone Number" [(ngModel)]="msisdn"  required></ion-input>
    </ion-item>

 <ion-item>
<ion-label position="floating" style="margin-top: 20px;">password:</ion-label>
<ion-input name="phone" type="password" minlength="10" maxlength="10"  [(ngModel)]="login.password"  placeholder="password"
 required></ion-input>
</ion-item>

</form>
<ion-grid>
  <ion-row>
  <ion-col size="6" push="4">
  <ion-button size="medium"   style ="background-color: transparent" shape="round" color="primary" type="submit" (click)=" onSubmitLogin()">Login</ion-button>
  </ion-col>
  </ion-row>
  </ion-grid>
  <p>Forgot password?</p>
</div>
  <div class="footer">
    <ion-button size="medium" color="primary" type="submit" expand="full" (click)="openRegister()"  style="position: absolute;bottom:0;width:100%; ">DON'T HAVE AN ACCOUNT? SIGN UP</ion-button>
  </div>
</ion-content>
