.border-right {
    border-right: 1px solid #ddd;
}
.borders {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    margin: -1px;
}
.border-left {
    border-left: 1px solid #ddd;
}
// img {
//     //object-fit: cover;
//     height: 50vh;
//   }
  ion-img {
    //object-fit: cover;
    height: 100%;
    width: 100%;
  }