<ion-header>
  <ion-toolbar>
    <ion-title>dashboard</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-menu side="start" menuId="custom" class="my-custom-menu">
    <ion-header>
      <ion-toolbar color="primary">
        <img  width="50px" height="50px" src="/assets/man.png">
      </ion-toolbar>
    
    </ion-header>
    <ion-content>
      <ion-list >
        <ion-item (click)="openProfilePage()">
        <ion-icon name="contact" slot="start" ></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-item>
        <ion-item>
          <ion-icon name="book" slot="start"></ion-icon>
          <ion-label>Bookings</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="logo-usd" slot="start" ></ion-icon>
          <ion-label>Payments</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="people" slot="start"></ion-icon>
          <ion-label>All Professionals</ion-label>
        </ion-item>
        <ion-item>
          
          <ion-icon name="help" slot="start"></ion-icon>
          <ion-label>About us</ion-label>
        
        </ion-item>
        <ion-item>
          <ion-icon name="chatboxes" slot="start"></ion-icon>
          <ion-label>Feedback</ion-label>
          
        </ion-item>
        <ion-item>
          <ion-icon name="log-out" slot="start"></ion-icon>
          <ion-label>Log Out</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
    
  </ion-menu>
  

  <ion-list main style="height: 90vh;" >
    <ion-toolbar class="icon-toolbar" color="light">
      <div text-center>
      <img src="/assets/white-ufahari.png" style="align-content: center">
      </div>
     <p style="text-align: center; -webkit-text-fill-color: ivory;">Welcome back Evans</p>
    </ion-toolbar>
    <div style="height: 40vh;">
      <ion-grid>
        <ion-row>
          <ion-col size = "6">
      <ion-slides [options]="sliderOpts" #slider >
        <ion-slide >
                <ion-img src="assets/lady.jpeg"></ion-img>
               </ion-slide >
             <ion-slide>
                 <ion-img src="assets/person_reading.jpeg"></ion-img>
             </ion-slide>
             <ion-slide>
              <ion-img src="assets/ufahari_community.jpeg"></ion-img>
          </ion-slide>
          <ion-slide>
            <ion-img src="assets/new_plumber.jpeg"></ion-img>
        </ion-slide>
   </ion-slides> 
          </ion-col>
          <ion-col size = "6">
                  <div *ngFor="let item of categories; let i = index" (click)="getCategory(item.id)">
                    <div *ngIf="item.available_professionals_count > 0 ">
                    <ion-grid>
                      <ion-row>
                        <ion-col size-md="4">
                          {{i +1}}
                        </ion-col>
                
                        <ion-col size-md="4">
                          {{item.name}}
                        </ion-col>
                         <ion-col size-md="4">({{item.available_professionals_count}})</ion-col>
                      </ion-row>
                    </ion-grid>
                  </div>
                  </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div>
      
    </div>
  </ion-list>
    <div>
      <p style="margin-left: 2px;"> Vetted,trained and conditioned Professionals </p>
      <p style="text-align:center;">Connect with us</p>
      <div  text-center>
        <img  width="50px" height="50px" src="/assets/img_social_twitter.png">
      <img  width="50px" height="50px" src="/assets/img_social_facebook.png" style="margin-left: 5px;">
      <img  width="50px" height="50px" src="/assets/img_social_instagram.png" style="margin-left: 5px;">
      
    </div>

    <ion-segment style="position: absolute;bottom:0;height: 40px;">
      <ion-segment-button  value="0" style="background-color: rgb(247, 76, 76);">
    
      <ion-label >My Account</ion-label>
      </ion-segment-button>
      <ion-segment-button value="1" style="background-color: rgb(37, 62, 85);">
    
      <ion-label >Live Chat</ion-label>
      </ion-segment-button>
      <ion-segment-button value="2" style="background-color: rgb(146, 189, 247);">
      <ion-label>Contact us</ion-label>
      </ion-segment-button>
      </ion-segment>
    </div>
  
</ion-content>
  