
<ion-header translucent no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="light">
        <ion-icon slot="start" name="ios-arrow-back"></ion-icon>
        Profile
      </ion-button>
    </ion-buttons>
    <ion-title>&nbsp;</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" src="/assets/lady.jpeg"></ion-icon>
       </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed" >
    <div class="card">
      <div class="header">
        <div class="avatar">
          <img src="{{image_suffix}} ">
        </div>
      </div>
      <div class="card-body">
        <div class="user-meta ">
          <div text-center>
            
            <ion-button style="margin-top: 30px;" (click)="editProfile()">Edit profile</ion-button>
          </div>
          <div>
          <div class="form-group" >
            <label for="name">Name:</label>
            <p class="name">  {{profile.first_name}}  {{profile.last_name}}</p>
              </div>
            <div class="form-group">
            <label for="name">Email:</label>
            <h5 >{{profile.email}}</h5>
            </div>
            <div class="form-group"
            >
            <label for="name">Phone:</label>
            <h6 >{{profile.phone}} </h6>
          </div>
          <div class="form-group" >
          <label for="bio">Bio</label>
          <h6 >{{profile.bio}} </h6>
        </div>
      </div>
        </div>
    </div>
    </div>
</ion-content>