<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="/assets/person_reading.jpeg">
<form>
  <ion-item>
    <ion-label position="floating" style="margin-top: 30px;">First Name:</ion-label>
    <ion-input name="first_name" type="text" minlength="10" maxlength="10" placeholder="First name" required></ion-input>
    </ion-item>

 <ion-item>
<ion-label position="floating" style="margin-top: 20px;">Last Name:</ion-label>
<ion-input name="last_name" type="text" placeholder="Last name"
 required></ion-input>
</ion-item>
  <ion-item>
    <ion-label position="floating" style="margin-top: 30px;">Email Address:</ion-label>
    <ion-input name="email" type="Email"   placeholder="email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" style="margin-top: 30px;">Phone No:</ion-label>
      <ion-input name="phone" type="tel" minlength="10" maxlength="10" placeholder="Phone Number" required></ion-input>
      </ion-item>
 <ion-item>
<ion-label position="floating" style="margin-top: 20px;">Date of Birth:</ion-label>
<ion-input name="dob" type="Date"  placeholder="12-12-1990"
 required></ion-input>
</ion-item>
 <ion-item>
<ion-label position="floating" style="margin-top: 20px;">password:</ion-label>
<ion-input name="password" type="password" minlength="10" maxlength="10" placeholder="password"
 required></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating" style="margin-top: 20px;">Confirm password:</ion-label>
  <ion-input name="cnpassword" type="password"  placeholder="re-enter password"
   required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" style="margin-top: 20px;">Password Hint:</ion-label>
    <ion-input name="cnpassword" type="text"  placeholder="Hint"
     required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" style="margin-top: 20px;">Location</ion-label>
      <ion-input name="location" type="location"  placeholder="location"
       required></ion-input>
      </ion-item>
</form>
<ion-grid>
  <ion-row>
  <ion-col size="6" push="4">
  <ion-button size="medium"   style ="background-color: transparent" shape="round" color="primary" type="submit">Register</ion-button>
  </ion-col>
  </ion-row>
  </ion-grid>
  <ion-button size="medium" color="primary" type="submit" expand="full" (click)="openLogin()">ALREADY HAVE AN ACCOUNT? LOG IN</ion-button>

</ion-content>
